{% extends './base.html' %}
{% block content %}

<h1>{{ submissions.username }}</h1>
<div>
    <p>ユーザー名：{{ submissions.username }}</p>
    <img src="{{ submissions.image.url }}" alt="投稿画像" width="200">
    <p>コメント：{{ submissions.comment }}</p>

    {% for exif in submissions.exif_data.all %}
        <p>カメラメーカーとモデル：{{ exif.make }} {{ exif.model }}</p>
        <p>画像の撮影日：{{ exif.datetimeoriginal }}</p>
        <p>シャッタースピード：{{ exif.exposuretime }}</p>
        <p>絞り値：{{ exif.fnumber }}</p>
        <p>ISO感度：{{ exif.isospeedratings }}</p>
        <p>焦点距離：{{ exif.focallength }}</p>
        <p>測光モード：{{ exif.meteringmode }}</p>
        <p>フラッシュ使用状況：{{ exif.flash }}</p>
        <p>画像解像度：{{ exif.xresolution }} x {{ exif.yresolution }}</p>
        <p>画像方向：{{ exif.orientation }}</p>
        <p>レンズモデル：{{ exif.lensmodel }}</p>
        <p>レンズスペック：{{ exif.lensspecification }}</p>
        <p>ホワイトバランス設定：{{ exif.whitebalance }}</p>
        <p>デジタルズーム比率：{{ exif.digitalzoomratio }}</p>
        <p>35mm換算焦点距離：{{ exif.focallengthin35mmfilm }}</p>
        <p>シーンキャプチャタイプ：{{ exif.scenecapturetype }}</p>
        <p>GPS情報（緯度）：{{ exif.gpslatitude }}</p>
        <p>GPS情報（経度）：{{ exif.gpslongitude }}</p>
        <p>GPS情報（高度）：{{ exif.gpsaltitude }}</p>
    {% endfor %}
</div>
<div>
    <a href='{% url "mainapp:index" %}'>一覧</a> |
    <a href='{% url "mainapp:update" submissions.pk %}'>編集</a> |
    <a href='{% url "mainapp:delete" submissions.pk %}'>削除</a>
</div>

{% endblock %}